#featured-property{
 text-align: center;
}

body {
  
  text-align: center;
  margin-block:inherit;
  margin: 10px;
}

#details{
  display:flex;
  padding-left: 35%;
  margin: 20px;
  background-color: red;

}